@media only screen and (max-width: 1440px){
    body {
        padding: 40px;
    }

    h1 {
        padding: 50px;
        font-size: 36px;
    }

    .sumario {
        width: 50%;
    }

    figure, iframe {
        width: 45%;
        margin: 0 2.5% 20px 0;
    }

    .direita, .esquerda {
        width: 50%;
        padding: 0 20px;
    }
    figure img {
        width: 90%;
        height: auto;
    }
}

/* Estilos para telas exatamente 1024px de largura (somente para notebooks) */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    body {
        padding: 30px; /* Ajustar o espaço interno */
    }

    h1 {
        padding: 40px; /* Ajustar o padding do título */
        font-size: 32px; /* Reduzir o tamanho do título */
    }

    p {
        font-size: 16px; /* Reduzir o tamanho do texto */
    }

    .sumario {
        width: 70%; /* Reduzir um pouco a largura do sumário */
    }

    /* Estilos para as colunas */
    .direita, .esquerda {
        width: 50%; /* Largura igual para as colunas */
        box-sizing: border-box; /* Incluir padding e borda na largura */
        float: left; /* Alinhar as colunas lado a lado */
        padding: 0 15px; /* Adicionar espaço interno nas colunas */
    }

    figure {
        width: 50%; /* Ocupar toda a largura da coluna */
        margin: 0 0 20px 0; /* Adicionar margem inferior */
    }

    iframe {
        height: 80%;
        width: 50%;
        margin: 0 0 20px 0; /* Adicionar margem inferior */
    }

    figure img {
        width: 80%;
        height: auto;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        padding: 20px;
    }

    h1 {
        padding: 30px;
        font-size: 28px;
    }

    .sumario {
        width: 70%;
    }

    figure, iframe {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .direita, .esquerda {
        width: 100%;
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    body {
        padding: 10px;
    }

    h1 {
        padding: 20px;
        font-size: 24px; 
    }

    .sumario {
        width: 90%;
    }

    figure, iframe {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .direita, .esquerda {
        width: 100%;
        padding: 0;
    }
}
