@media only screen and (max-width: 1440px){
    body {
        padding: 40px;
    }

    h1 {
        padding: 50px;
        font-size: 36px;
    }

    .sumario {
        width: 50%;
    }

    figure, iframe {
        width: 45%;
        margin: 0 2.5% 20px 0;
    }

    .direita, .esquerda {
        width: 50%;
        padding: 0 20px;
    }
    figure img {
        width: 90%;
        height: auto;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    body {
        padding: 30px;
    }

    h1 {
        padding: 40px;
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }

    .sumario {
        width: 70%;
    }

    .direita, .esquerda {
        width: 50%;
        box-sizing: border-box;
        float: left;
        padding: 0 15px;
    }

    figure {
        width: 50%;
        margin: 0 0 20px 0;
    }

    iframe {
        height: 80%;
        width: 50%;
        margin: 0 0 20px 0;
    }

    figure img {
        width: 80%;
        height: auto;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        padding: 20px;
    }

    h1 {
        padding: 30px;
        font-size: 28px;
    }

    .sumario {
        width: 70%;
    }

    figure, iframe {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .direita, .esquerda {
        width: 100%;
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    body {
        padding: 10px;
    }

    h1 {
        padding: 20px;
        font-size: 24px; 
    }

    .sumario {
        width: 90%;
    }

    figure, iframe {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .direita, .esquerda {
        width: 100%;
        padding: 0;
    }
}
